<!DOCTYPE html>
<html lang="en">
<head>
    <% include bookmarks/partials/head %>
</head>
<body class="container">

    <header>
        <% include bookmarks/partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Bookmarks App</h1>
           
        </div>
    </main>

    <footer>
        <% include bookmarks/partials/footer %>
    </footer>
    
</body>
</html>