<!-- views/partials/footer.ejs -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/lib/jquery/validation.js"></script>
<p class="text-center text-muted">© Copyright 2014 Bookmarks</p>